<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>构造测试服务化方法</title>


</head>
<body>

<form action="" method="post" target="_blank">

    {{#eachInMap args}}
        <label for="{{value.fieldName}}">
            {{value.fieldName}}
        </label>
    <input type="text" id="{{value.fieldName}}" name="{{value.fieldName}}"/>
    {{/eachInMap}}

    <input type="hidden" name="json" id="json"/>
    <button type="button" onclick="getJson()">测试</button>
</form>

<script>
    function getJson() {
        var formData = JSON.stringify($("#myForm").serializeArray());
        console.log(formData);
        var el = document.getElementById("json");
        el.setAttribute("value", formData);
    }
</script>
</body>
</html>